@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.circle-red {
		@apply m-auto; /* круг по центру установить вместо margin: auto; */
		width: 200px;
		height: 200px;
		border-radius: 50%;
		border: 5px solid black;
		background-color: red;
		/* margin: auto; */
		margin-top: 5rem;
		font-size: 7rem;
		font-weight: 500;
		padding-top: 10px;
	}
}

body {
	margin: 0;
	background-color: bisque;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
