.box {
	margin: auto;
	width: 380px;
}

.x {
	color: rgb(255, 70, 37);
	background-color: #ffffff;
	border: 2px solid black;
	border-radius: 10%;
	box-shadow: 0px 0px 8px #888888;
	width: 5rem;
	height: 5rem;
	text-align: center;
	font-size: 5em;
	font-family: 'Fredoka', sans-serif;
	font-weight: bold;
	margin: 0.5rem;
}

.x:hover {
	opacity: 0.75;
}

.x:active {
	opacity: 0.5;
	box-shadow: 0px 0px 8px #ffffff;
}

.o {
	color: rgb(44, 135, 255);
	background-color: #ffffff;
	border: 2px solid black;
	border-radius: 10%;
	box-shadow: 0px 0px 8px #888888;
	width: 5rem;
	height: 5rem;
	text-align: center;
	font-size: 5em;
	font-family: 'Fredoka', sans-serif;
	font-weight: bold;
	margin: 0.5rem;
}

.o:hover {
	opacity: 0.75;
}

.o:active {
	opacity: 0.5;
	box-shadow: 0px 0px 8px #ffffff;
}
